.App {
  height: 100vh;
  padding: 60px;
}
.products-al-2 {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-table {
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  padding-left: 10px;
  width: 14%;
}
.data-table {
  color: black;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  padding-left: 10px;
  width: 14%;
}
